.login-popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.login-popup-container{
    place-self: center;
    width: max(27vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn ease-in 0.5s;
}

.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 19px;
}

.login-popup-title img{
    width: 22px;
    cursor: pointer;
}

.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 12px;
    border-radius: 4px;
    height: 50px;
    font-size: 16px;
    margin-top: 4px;
}

.login-popup-inputs input:first-child{
    transition: fadeIn 0.5s;
}

.login-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: tomato;
    font-size: 20px;
    cursor: pointer;
    margin: 6px 0;
}

.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -4px;
    margin-bottom: 4px;
    font-size: 15px;
}

.login-popup-condition input{
    margin-top: 2px;
}

.login-popup p span{
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}

.relative{
    position: relative;
}

#Password{
    position: relative;
    width: 100%;
}

.eye-icon{
    position: absolute;
    top: 14px;
    right: 7px;
    min-width: 28px;
    height: 28px;
    color: tomato;
}

.fx-18{
    font-size: 17px;
}