.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    background-color: #fcfcfc;
    min-height: 78px;
    margin-bottom: 2px;
    z-index: 1;
}

.navbar .logo{
    width: 90px;
    max-height: 90px;
}

.navbar .profile{
    width: 60px;
    border-radius: 50%;
}