.header-list {
  font-size: 28px;
  font-weight: 500;
}

.list-table-format {
  display: grid;
  grid-template-columns: 1.5fr 1.2fr 0.8fr 1fr 1fr 1fr 1.3fr;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: 2px solid #cacaca;
  font-size: 13px;
  border-radius: 4px;
}

.list-table-format .title {
  background-color: #f9f9f9;
}

.list-table-format img {
  width: 180px;
  margin-left: 15px;
}

.icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.delete-icon {

}

.edit-icon {
  margin-right: 18px;
} 

@media (max-width: 600px) {
  .list-table-format {
    grid-template-columns: 1fr;
  }
}
